THUNDER_BASE_URL=https://localhost:8090
THUNDER_CLIENT_ID=your-client-id
THUNDER_APP_ID=your-application-id
THUNDER_AFTER_SIGN_IN_URL=io.thunder.b2c://callback
THUNDER_AFTER_SIGN_OUT_URL=io.thunder.b2c://logout
